<!doctype html>

<html lang="{{.Site.LanguageCode}}">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{ block "title" . }}Needs Title{{ end }} - {{ .Site.Title }}</title>

	{{ partial "stylesheets.html" . }}

	{{ block "head" . }}{{ end }}
</head>

<body class="mx-auto max-w-4xl font-serif px-4 py-4">
	{{ partial "dark_mode_js.html" .}}
	<header>
		{{ block "header" . }}{{end}}
	</header>
	<main class="">
		{{ block "main" . }}{{ end }}
	</main>
	<footer>
		{{ block "footer" .}}{{end}}
	</footer>
</body>

</html>
